


body {
    background: #444 url("background1.png") repeat;
    font-family: "B Nazanin+ Regular";
    font-size: 20px;
}

tr{
    font-size: 20px;
}

input.form-control,textarea.form-control{
    font-size: 18px;
}



/*Nav Bar*/
a.navbar-brand{
    font-size: 30px;
}
.nav li div a .glyphicon{
    color: #E1E1E1;
    margin-right:10px;
}
.nav li div{
    margin-top: 10px;
    margin-right: 30px;
}
.nav li div a{
    color: white;
}
/*Nav Bar*/


.footer {
    bottom: 0;
    width: 100%;
    height: 20px;
}

/*Tree View*/
.node-treeview-checkable{
    font-size: 14px;
}
.icon.check-icon.glyphicon{
    margin-left: 12px;
    margin-right: 10px;
}
/*Tree View*/

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


